
@{
    ViewBag.Title = "Index";
}

<style>
    #tblUsers {
        width: 100% !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #tblUsers > thead > tr > th{
        padding-left: 10px;
    }
</style>

<div class="row">
    <div class="col">
        <h4>Here you will find some functionalities about the users task</h4>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover" id="tblUsers">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(() => {
            $("#tblUsers").DataTable({
                ajax: {
                    url: '/api/users',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: "Id",
                        render: function (rowNr, type, rowData) {
                            return rowNr;
                        },
                    },
                    {
                        data: "FirstName"
                    },
                    {
                        data: "LastName"
                    },
                    {
                        data: "Email"
                    },
                ]
            });
        })
    </script>
}