
@{
    ViewBag.Title = "Index";
}

<style>
    #tblUsers {
        width: 100% !important;
        margin-top: 15px;
        margin-bottom: 15px;
    }

        #tblUsers > thead > tr > th {
            padding-left: 10px;
        }

    #tblUsers_wrapper {
        margin-top: 15px;
    }

    .btn-pagination {
        margin-left: 3px;
    }
</style>

<div class="row" style="margin-bottom: 20px;">
    <div class="col">
        <h4>Here you will find some functionalities about the users task</h4>
    </div>
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-primary" onclick="openAddUser()">Add New</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover" id="tblUsers">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalSaveUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formSaveUser" novalidate>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="firstName" class="required-label">First Name</label>
                            <input type="text" class="form-control" id="firstName"
                                   placeholder="Frenkli"
                                   required />
                            <div class="invalid-feedback">
                                Please enter your first name
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="lastName" class="required-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName"
                                   placeholder="Kapri"
                                   required />
                            <div class="invalid-feedback">
                                Please enter your last name
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label for="email" class="required-label">Email</label>
                            <input type="email" class="form-control" id="email"
                                   placeholder="email@test.com"
                                   required />
                            <div class="invalid-feedback">
                                Please enter an email in correct format
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="userId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formSaveUser" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var _usersDt = "";

        function editClicked(id, firstName, lastName, email) {
            $("#userId").val(id);
            $("#firstName").val(firstName);
            $("#lastName").val(lastName);
            $("#email").val(email);

            showSaveUserModal();
        }

        function deleteClicked(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-danger',
                    cancelButton: 'btn btn-primary ml-2'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Delete user',
                text: "Are you sure you want to delete this user?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        async: true,
                        type: "DELETE",
                        url: "/api/users/" + id,
                        success: (result) => {
                            if (result.Success) {
                                _usersDt.ajax.reload();
                            } else {
                                alert("error")
                            }
                        }
                    });
                }
            })
        }

        $("#formSaveUser").on("submit", (event) => {
            event.preventDefault();

            if (event.target.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            event.target.classList.add('was-validated');

            let firstName = $("#firstName").val();
            let lastName = $("#lastName").val();
            let email = $("#email").val();
            let id = $("#userId").val();

            let user = {
                firstName,
                lastName,
                email,
                id
            }

            $.ajax({
                async: true,
                type: "POST",
                url: "/api/users",
                data: user,
                success: (result) => {
                    if (result.Success) {
                        _usersDt.ajax.reload();

                        closeSaveUserModal();
                    } else if (result.UserExists) {
                        alert("User exits")
                    } else {
                        alert("error")
                    }
                }
            });
        })

        $("#modalSaveUser").on('shown.bs.modal', function () {
            $("#firstName").focus();
        });

        $(document).ready(() => {
            createUsersDatatable();
        })

        function createUsersDatatable() {
            $.fn.dataTable.ext.classes.sPageButton = 'btn btn-sm btn-primary btn-pagination';

            _usersDt = $("#tblUsers").DataTable({
                ajax: {
                    url: '/api/users',
                    dataSrc: "",
                    type: "GET"
                },
                columns: [
                    {
                        data: "Id",
                        render: function (rowNr, type, rowData, meta) {
                            return meta.row + 1;
                        },
                    },
                    {
                        data: "FirstName"
                    },
                    {
                        data: "LastName"
                    },
                    {
                        data: "Email"
                    },
                    {
                        data: "",
                        orderable: false,
                        render: function (rowNr, type, rowData) {
                            var html = `<div style="width: 100%; text-align: right;">`;

                            html += `<button class="btn btn-sm btn-primary" title="Edit"
                                            onclick="editClicked('${rowData.Id}','${rowData.FirstName}','${rowData.LastName}','${rowData.Email}')"><i class="fa fa-edit"></i></button>`;
                            html += `<button class="btn btn-sm btn-danger ml-2" title="Delete"
                                            onclick="deleteClicked('${rowData.Id}')"><i class="fa fa-trash"></i></button>`;

                            html += `</div>`

                            return html;
                        }
                    }
                ]
            });
        }

        function openAddUser() {
            $("#userId").val("")
            $("#formSaveUser").trigger("reset")
            $("#formSaveUser").removeClass("was-validated")

            showSaveUserModal();
        }

        function showSaveUserModal() {
            $("#modalSaveUser").modal("show")
        }

        function closeSaveUserModal() {
            $("#modalSaveUser").modal("hide")
        }
    </script>
}